.formHolder{
  margin-top: 100px;
}

.fileBrowser{
  width: 40%;
  display: block;
}
.uploadBtn{
  width: 20%;
  background: #0056b8;
  float: left;
  color: #fff;
}
.noOfQuesHolder{

}
.clearfix{
  clear: both;
}
