<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="container">
  <div class="formHolder">
  <form method="post" enctype="multipart/form-data" onsubmit="return Validate(this);">

    <input type="file" name="fileUpload" class="fileBrowser"/>
    <span class="supportedFormats">Supported formats(doc,docx,txt)... test</span>
    <div class="noOfQuesHolder">
      <label>Total Questions in file:</label>
      <input type="number" name="noOfQuestions" class=""/>
    </div>
    <input type="submit" name="uploadFile" value="Upload Question File" class="uploadBtn"/>
    <div class="clearfix"></div>
  </form>
</div>
</div>

<script type="text/javascript">
var _validFileExtensions = [".txt",".docx",".doc",".pdf",".xlsx",".xlx"];
function Validate(oForm) {
  var arrInputs = oForm.getElementsByTagName("input");
  for (var i = 0; i < arrInputs.length; i++) {
      var oInput = arrInputs[i];
      if (oInput.type == "file") {
          var sFileName = oInput.value;
          if (sFileName.length > 0) {
              var blnValid = false;
              for (var j = 0; j < _validFileExtensions.length; j++) {
                  var sCurExtension = _validFileExtensions[j];
                  if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                      blnValid = true;
                      break;
                  }
              }
//document.getElementsByClassName("supportedFormats").setAttribute("style", "color: red");

              if (!blnValid) {
                  alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                  //document.getElementsByClassName("supportedFormats").setAttribute("style", "color: red");
                  return false;
              }


          }
      }
  }

  return true;
}
</script>
</body>
</html>
